<!--
 Copyright (c) 2015-2016 European Spallation Source
 Copyright (c) 2015-2016 Cosylab d.d.

 This file is part of IOC Factory.

 IOC Factory is free software: you can redistribute it
 and/or modify it under the terms of the GNU General Public License as
 published by the Free Software Foundation, either version 2 of the License,
 or any newer version.

 This program is distributed in the hope that it will be useful, but WITHOUT
 ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
 details.

 You should have received a copy of the GNU General Public License along with
 this program. If not, see https://www.gnu.org/licenses/gpl-2.0.txt
-->
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html">
    <h:form id="editDeviceForm">
        <p:dialog id="editDeviceDlg"
                  widgetVar="editDeviceDlg"
                  header="Edit Device Configuration"
                  width="24em"
                  modal="true"
                  resizable="false"
                  closeOnEscape="true">
            <p:focus context="editDevDialog" for="versionInput"/>
            <p:panelGrid columns="2" layout="grid" columnClasses="module-version-left-col,module-version-right-col">
                <p:outputLabel value="Device:" />
                <h:outputText value="#{detailsManager.device.name}"/>

                <p:outputLabel value="Module Name:" />
                <h:outputText value="#{detailsManager.device.supportModule.name}"/>

                <p:outputLabel id="versionInputLbl" value="Module Version:" for="versionInput" />
                <p:selectOneMenu id="versionInput" value="#{detailsManager.deviceModuleVersion}"
                                 style="width: 10em;">
                    <f:selectItems value="#{detailsManager.getModuleVersionsForDevice(detailsManager.device)}"
                                   var="mver"
                                   itemLabel="#{mver}"/>
                </p:selectOneMenu>
            </p:panelGrid>
            <p:separator />
			<p:panel styleClass="dialogButtonPanel">
	            <p:commandButton id="devEditOk"
	                             actionListener="#{detailsManager.handleDeviceEdit}"
	                             style="width: 6em;"
	                             value="OK" icon="ui-icon-check"
	                             oncomplete="handleDeviceEdit(xhr, status, args);"
	                             update="iocsForm:iocs configsForm:configs devicesForm:devices paramsForm:params versionInput
	                             versionInputLbl"/>
	            <p:spacer width="4"/>
	            <p:commandButton id="devEditCancel"
	                             style="width: 6em;"
	                             value="Cancel" icon="ui-icon-cancel"
	                             onclick="PF('editDeviceDlg').hide();"/>
			</p:panel>
            <p:defaultCommand target="devEditOk" />
        </p:dialog>
    </h:form>
</ui:composition>