<!--
 Copyright (c) 2015-2016 European Spallation Source
 Copyright (c) 2015-2016 Cosylab d.d.

 This file is part of IOC Factory.

 IOC Factory is free software: you can redistribute it
 and/or modify it under the terms of the GNU General Public License as
 published by the Free Software Foundation, either version 2 of the License,
 or any newer version.

 This program is distributed in the hope that it will be useful, but WITHOUT
 ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
 details.

 You should have received a copy of the GNU General Public License along with
 this program. If not, see https://www.gnu.org/licenses/gpl-2.0.txt
-->
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html">
    <h:form id="renameDevForm">
        <p:dialog id="renameDevDlg"
                  widgetVar="renameDevDlg"
                  header="Rename Device">
            <p:panelGrid layout="grid" columns="2">
                <p:outputLabel value="Destination device:"/>
                <p:selectOneMenu id="devMenu" value="#{renameDevManager.newDevice}"
                                 converter="omnifaces.SelectItemsConverter">
                    <f:selectItems value="#{renameDevManager.validDeviceConfigs}" var="dev"
                                   itemLabel="#{dev.name}"
                                   itemValue="#{dev}"/>
                </p:selectOneMenu>
            </p:panelGrid>
            <h:panelGroup layout="block" style="font-size: small; font-style: italic; color: red;">
                <h:outputText value="Renaming will delete the device and override properties in the
                              destination device"/>
            </h:panelGroup>
            <f:facet name="footer">
				<p:panel styleClass="dialogButtonPanel">
	                <p:commandButton action="#{renameDevManager.rename}"
	                                 value="Rename"
	                                 update="iocsForm:iocs configsForm:configs devicesForm:devices paramsForm:params
	                                 devicesForm:devicesBtns"
	                                 oncomplete="handleRenameDevRequest(xhr, status, args);"/>
				</p:panel>
            </f:facet>
        </p:dialog>
    </h:form>
</ui:composition>