<!--
 Copyright (c) 2015-2016 European Spallation Source
 Copyright (c) 2015-2016 Cosylab d.d.

 This file is part of IOC Factory.

 IOC Factory is free software: you can redistribute it
 and/or modify it under the terms of the GNU General Public License as
 published by the Free Software Foundation, either version 2 of the License,
 or any newer version.

 This program is distributed in the hope that it will be useful, but WITHOUT
 ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
 details.

 You should have received a copy of the GNU General Public License along with
 this program. If not, see https://www.gnu.org/licenses/gpl-2.0.txt
-->
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html">
    <h:form id="confirmSwitchForm">
        <p:dialog id="confirmSwitchDlg"
                  widgetVar="confirmSwitchDlg"
                  header="Save Changes">
            <h:outputText value="Do you want to save changes made to the configuration?"/>

            <f:facet name="footer">
				<p:panel styleClass="dialogButtonPanel">
	                <p:commandButton value="Save" action="#{detailsManager.saveConfiguration()}"
	                                 update="iocsForm:iocs configsForm:configs"
	                                 oncomplete="PF('confirmSwitchDlg').hide(); refreshDevicesAndParams();"
	                                 icon="ui-icon-disk"/>
	                <p:spacer width="4"/>
	                <p:commandButton value="Discard" action="#{detailsManager.discardConfiguration()}"
	                                 update="iocsForm:iocs configsForm:configs globalsForm:globals devicesForm:devices paramsForm:params"
	                                 oncomplete="PF('confirmSwitchDlg').hide(); refreshDevicesAndParams();"
	                                 icon="ui-icon-arrowrefresh-1-e"/>
	                <p:spacer width="4"/>
	                <p:commandButton value="Cancel"
	                                 oncomplete="PF('confirmSwitchDlg').hide();"
	                                 update="iocsForm:iocs configsForm:configs"
	                                 icon="ui-icon-cancel"/>
				</p:panel>
            </f:facet>
        </p:dialog>
    </h:form>
</ui:composition>