/*
 * Copyright (c) 2015-2016 European Spallation Source
 * Copyright (c) 2015-2016 Cosylab d.d.
 *
 * This file is part of IOC Factory.
 *
 * IOC Factory is free software: you can redistribute it
 * and/or modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation, either version 2 of the License,
 * or any newer version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
 * details.
 *
 * You should have received a copy of the GNU General Public License along with
 * this program. If not, see https://www.gnu.org/licenses/gpl-2.0.txt
 */

.errorHighlight {
    color: #D8000C;
    background-color: #FFBABA;
}

.warnHighlight {
    color: #9F6000;
    background-color: #FEEFB3;
}

.highlightHighlight {
    color: #006400;
    background-color: #A8FBA8;
}

.setup-general {
    display: inline-block;

}


.ui-panelgrid-content {
    border: none;
}

.ellipsis {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

.tbl_col_slot {
    width: 22em;
}

.tbl_col_boolean {
    width: 7em;
}

.tbl_col_os {
    width: 11em;
}

.tbl_col_rev {
    width: 7em;
}

.tbl_col_cstatus {
    width: 18em;
}

.tbl_col_date {
    width: 11.5em;
}

.tbl_col_timestamp {
    width: 14em;
}

.tbl_col_user {
    width: 10em;
}

.tbl_col_module_name {
    width: 17em;
}

.tbl_col_module_version {
    width: 12em;
}

.tbl_col_epics_version {
    width: 6em;
}

.tbl_col_module_snippet {
    width: 17em;
}

.tbl_col_macro_name {
    width: 12em;
}

.tbl_col_macro_type {
    width: 6em;
}

.tbl_col_env_name {
    width: 6em;
}

.tbl_col_log_type {
    width: 15em;
}

.tbl_col_log_type_ddl {
    min-width: 10em !important;
}

.tbl_col_verify_category {
    width: 10em;
}

.tbl_col_verify_type {
    width: 6em;
}

.ui-fieldset-content {
	height: calc(100% - 2em);
}

.ui-datatable-tablewrapper, .ui-tabs-panel, .ui-datatable-scrollable {
	height: 100%;
}
