<!--
 Copyright (c) 2015-2016 European Spallation Source
 Copyright (c) 2015-2016 Cosylab d.d.

 This file is part of IOC Factory.

 IOC Factory is free software: you can redistribute it
 and/or modify it under the terms of the GNU General Public License as
 published by the Free Software Foundation, either version 2 of the License,
 or any newer version.

 This program is distributed in the hope that it will be useful, but WITHOUT
 ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
 details.

 You should have received a copy of the GNU General Public License along with
 this program. If not, see https://www.gnu.org/licenses/gpl-2.0.txt
-->
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html">
    <h:form id="devicesForm">
        <p:outputPanel id="devices">
            <p:fieldset id="devicesPanel"
                        legend="Devices">
                <p:dataTable id="devicesTbl"
                             widgetVar="devicesTbl"
                             var="dev" value="#{detailsManager.config.devices}"
                             selectionMode="multiple"
                             selection="#{detailsManager.selectedDevices}"
                             rowKey="#{dev.devicePosition}"
                             scrollable="true" scrollHeight="#{viewOnly ? 100 : 240}"
                             rowStyleClass="#{csHelper.getStatusFor(dev).rowStyle}">

                    <p:column headerText="Device"
                              styleClass="tbl_col_slot"
                              filterBy="#{dev.name}"
                              filterMatchMode="contains">
                        <p:commandLink update=":linksForm" oncomplete="PF('linksDlg').show()">
                            <h:outputText value="#{dev.name}" style="color: blue; text-decoration: underline;"/>
                            <f:setPropertyActionListener target="#{linkManager.slot}" value="#{dev.name}"/>
                        </p:commandLink>
                    </p:column>

                    <p:column headerText="Module Name"
                              styleClass="tbl_col_module_name"
                              filterBy="#{dev.supportModule.name}"
                              filterMatchMode="contains"
                              filterStyle="width: 90%;">
                        <h:outputText value="#{dev.supportModule.name}"/>
                    </p:column>

                    <p:column headerText="Module Version"
                              styleClass="tbl_col_module_version"
                              filterBy="#{dev.supportModule.moduleVersion}"
                              filterMatchMode="contains"
                              filterStyle="width: 90%;">
                              <h:outputText
                                    style="width: 6em;"
                                    value="#{dev.supportModule.moduleVersion}"/>
                    </p:column>

                    <p:column headerText="Dependencies"
                              filterBy="#{detailsManager.formatModuleDependencies(dev.supportModule)}"
                              filterMatchMode="contains">
                        <h:panelGroup id="depDesc" layout="span" styleClass="ellipsis">
                            <h:outputText value="#{detailsManager.formatModuleDependencies(dev.supportModule)}"/>
                        </h:panelGroup>
                        <p:tooltip for="depDesc" value="#{detailsManager.
                                                          formatModuleDependencies(dev.supportModule)}"
                                   position="top" trackMouse="true"/>
                    </p:column>

                    <p:column headerText="Consistency Status"
                              styleClass="tbl_col_cstatus"
                              filterBy="#{csHelper.getSingleLineDesc(dev)}"
                              filterMatchMode="contains">
                        <h:panelGroup id="devCs" layout="span" styleClass="ellipsis">
                            <h:outputText value="#{csHelper.getSingleLineDesc(dev)}" />
                        </h:panelGroup>
                        <p:tooltip for="devCs" position="top" trackMouse="true">
                            <h:outputText value="#{csHelper.getRenderedDesc(dev)}" escape="false"/>
                        </p:tooltip>
                    </p:column>

                    <p:ajax event="rowSelect"
                            update="devicesForm:devicesBtns paramsForm:paramsTbl paramsForm:paramsBtns"
                            oncomplete="PF('paramsTbl').filter();"/>
                    <p:ajax event="rowUnselect"
                            update="devicesForm:devicesBtns paramsForm:paramsTbl paramsForm:paramsBtns"
                            oncomplete="PF('paramsTbl').filter();"/>
                </p:dataTable>

                <div style="height: 1em"/>

                <p:outputPanel id="devicesBtns" style="text-align: right;" rendered="#{not viewOnly}">
                    <p:commandButton value="Edit..." icon="ui-icon-pencil"
                        actionListener="#{detailsManager.prepareForEdit()}"
                        disabled="#{not detailsManager.canEditDevice()}"
                        oncomplete="PF('editDeviceDlg').show();" update="editDeviceForm:editDeviceDlg"/>
                    <p:spacer width="4"/>
                    <p:commandButton value="Up" action="#{detailsManager.moveDevice('UP')}"
                                     disabled="#{empty detailsManager.selectedDevice or
                                                 not detailsManager.configEditable or
                                                 detailsManager.config.devices.
                                                 indexOf(detailsManager.selectedDevice) eq 0}"
                                     update="iocsForm:iocs configsForm:configs globalsForm:globalsBtns 
                                     devicesForm:devicesBtns devicesForm:devicesTbl 
                                     paramsForm:paramsTbl paramsForm:paramsBtns"
                                     oncomplete="refreshDevicesAndParams();"
                                     icon="ui-icon-arrowthick-1-n"/>
                    <p:spacer width="4"/>
                    <p:commandButton value="Down" action="#{detailsManager.moveDevice('DOWN')}"
                                     disabled="#{empty detailsManager.selectedDevice or
                                                 not detailsManager.configEditable or
                                                 detailsManager.config.devices.
                                                 indexOf(detailsManager.selectedDevice) eq
                                                    (detailsManager.config.devices.size()-1)}"
                                     update="iocsForm:iocs configsForm:configs globalsForm:globalsBtns 
                                     devicesForm:devicesBtns devicesForm:devicesTbl 
                                     paramsForm:paramsTbl paramsForm:paramsBtns"
                                     oncomplete="refreshDevicesAndParams();"
                                     icon="ui-icon-arrowthick-1-s"/>
                    <p:spacer width="4"/>
                    <p:commandButton value="Rename..."
                                     disabled="#{empty detailsManager.selectedDevice or
                                                 not detailsManager.configEditable or
                                                 not detailsManager.selectedDevice.consistencyStatus.error}"
                                     oncomplete="PF('renameDevDlg').show()"
                                     update="renameDevForm:renameDevDlg"
                                     icon="ui-icon-transfer-e-w"/>
                    <p:commandButton value="Delete" action="#{detailsManager.deleteDevices()}"
                                     disabled="#{not detailsManager.canDeleteDevices()}"
                                     update="iocsForm:iocs configsForm:configs globalsForm:globalsBtns 
                                     devicesForm:devicesBtns paramsForm:paramsTbl paramsForm:paramsBtns"
                                     oncomplete="refreshDevicesAndParams();"
                                     icon="ui-icon-trash"/>
                </p:outputPanel>
            </p:fieldset>
            <div style="height: 3em"/>
        </p:outputPanel>
    </h:form>
</ui:composition>