<!--
 Copyright (c) 2015-2016 European Spallation Source
 Copyright (c) 2015-2016 Cosylab d.d.

 This file is part of IOC Factory.

 IOC Factory is free software: you can redistribute it
 and/or modify it under the terms of the GNU General Public License as
 published by the Free Software Foundation, either version 2 of the License,
 or any newer version.

 This program is distributed in the hope that it will be useful, but WITHOUT
 ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
 details.

 You should have received a copy of the GNU General Public License along with
 this program. If not, see https://www.gnu.org/licenses/gpl-2.0.txt
-->
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html">
    <h:form id="iocsForm">
        <p:outputPanel id="iocs">
            <p:fieldset legend="IOCs">
                <p:dataTable  id="iocsTbl"
                              widgetVar="iocsTbl"
                              var="ioc"
                              value="#{iocsManager.iocs}"
                              selectionMode="multiple"
                              selection="#{iocsManager.selectedIOCs}"
                              rowKey="#{ioc.name}"
                              scrollable="true" scrollHeight="180"
                              rowStyleClass="#{csHelper.getStatusFor(ioc).rowStyle}">
                    <p:column headerText="IOC Name"
                              styleClass="tbl_col_slot"
                              filterBy="#{ioc.name}"
                              filterMatchMode="contains">
                        <p:commandLink update=":linksForm" oncomplete="PF('linksDlg').show()">
                            <h:outputText value="#{ioc.name}" style="color: blue; text-decoration: underline;"/>
                            <f:setPropertyActionListener target="#{linkManager.slot}" value="#{ioc.name}"/>
                        </p:commandLink>
                    </p:column>
                    <p:column headerText="Operating System"
                              styleClass="tbl_col_os"
                              filterBy="#{ioc.os}"
                              filterMatchMode="contains"
                              filterStyle="width: 90%;">
                        <h:outputText value="#{ioc.os}" />
                    </p:column>
                    <p:column headerText="Hostname"
                              styleClass="tbl_col_slot"
                              filterBy="#{ioc.hostname}"
                              filterMatchMode="contains">
                        <h:outputText value="#{ioc.hostname}"
                                      style="white-space: nowrap; overflow: hidden;"/>
                    </p:column>
                    <p:column headerText="Last Revision"
                              styleClass="tbl_col_rev"
                              filterBy="#{ioc.lastConfigRevision}"
                              filterMatchMode="contains"
                              filterStyle="width: 90%;">
                        <h:outputText value="#{ioc.lastConfigRevision}" style="text-align: center;"/>
                    </p:column>
                    <p:column headerText="Description"
                              filterBy="#{ioc.desc}"
                              filterMatchMode="contains"
                              filterStyle="width: 20em;">
                        <h:panelGroup id="iocDesc" layout="span" styleClass="ellipsis">
                            <h:outputText value="#{ioc.desc}"/>
                        </h:panelGroup>
                        <p:tooltip for="iocDesc" value="#{ioc.desc}" position="top" trackMouse="true"/>
                    </p:column>
                    <p:column headerText="Consistency Status"
                              styleClass="tbl_col_cstatus"
                              filterBy="#{csHelper.getSingleLineDesc(ioc)}"
                              filterMatchMode="contains">
                        <h:panelGroup id="iocCs" styleClass="ellipsis" layout="span">
                            <h:outputText value="#{csHelper.getSingleLineDesc(ioc)}"/>
                        </h:panelGroup>
                        <p:tooltip for="iocCs" position="top" trackMouse="true">
                            <h:outputText value="#{csHelper.getRenderedDesc(ioc)}" escape="false"/>
                        </p:tooltip>
                    </p:column>
                    <p:ajax event="rowSelect" disabled="#{detailsManager.dirty}"
                            update="iocsForm:iocsBtns configsForm:configsBtns globalsForm:globalsBtns devicesForm:devicesBtns paramsForm:paramsBtns"
                            partialSubmit="true" listener="#{configurationsManager.handleIocSwitch()}"
                            oncomplete="refreshBelowIOCs();"/>
                    <p:ajax event="rowUnselect" disabled="#{detailsManager.dirty}"
                            update="iocsForm:iocsBtns configsForm:configsBtns globalsForm:globalsBtns devicesForm:devicesBtns paramsForm:paramsBtns"
                            partialSubmit="true" listener="#{configurationsManager.handleIocSwitch()}"
                            oncomplete="refreshBelowIOCs();"/>

                    <p:ajax event="rowSelect" disabled="#{!detailsManager.dirty}"
                            partialSubmit="true" oncomplete="PF('confirmSwitchDlg').show();"/>
                    <p:ajax event="rowUnselect" disabled="#{!detailsManager.dirty}"
                            partialSubmit="true" oncomplete="PF('confirmSwitchDlg').show();"/>
                </p:dataTable>

                <div style="height: 1em"/>

                <p:outputPanel id="iocsBtns" style="text-align: right;">
                    <p:commandButton value="Delete"
                                     update="delIocDlgForm:delIocDlg"
                                     oncomplete="PF('delIocDlg').show();"
                                     disabled="#{not iocsManager.canDeleteIoc()}"
                                     icon="ui-icon-trash"/>
                </p:outputPanel>
            </p:fieldset>
        </p:outputPanel>

        <p:spacer height="30"/>
    </h:form>
</ui:composition>