<!--
 Copyright (c) 2015-2016 European Spallation Source
 Copyright (c) 2015-2016 Cosylab d.d.

 This file is part of IOC Factory.

 IOC Factory is free software: you can redistribute it
 and/or modify it under the terms of the GNU General Public License as
 published by the Free Software Foundation, either version 2 of the License,
 or any newer version.

 This program is distributed in the hope that it will be useful, but WITHOUT
 ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
 details.

 You should have received a copy of the GNU General Public License along with
 this program. If not, see https://www.gnu.org/licenses/gpl-2.0.txt
-->
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html">
    <h:form id="paramsForm">
        <p:outputPanel id="params">
            <p:fieldset legend="Macros">
                <p:dataTable id="paramsTbl"
                             widgetVar="paramsTbl"
                             value="#{detailsManager.parameters}"
                             var="devParam"
                             editable="true"
                             editMode="cell"
                             selectionMode="multiple"
                             selection="#{detailsManager.selectedParameters}"
                             rowKey="#{devParam.paramPosition}"
                             rowStyleClass="#{csHelper.getStatusFor(devParam).rowStyle}"
                             scrollable="true" scrollHeight="240">
                    <p:column headerText="Device"
                              styleClass="tbl_col_slot"
                              filterBy="#{devParam.deviceConfiguration.name}"
                              filterMatchMode="contains">
                        <p:commandLink update=":linksForm" oncomplete="PF('linksDlg').show()">
                            <h:outputText value="#{devParam.deviceConfiguration.name}"
                                          style="color: blue; text-decoration: underline;"/>
                            <f:setPropertyActionListener target="#{linkManager.slot}"
                                                         value="#{devParam.deviceConfiguration.name}"/>
                        </p:commandLink>
                    </p:column>

                    <p:column headerText="Snippet"
                              styleClass="tbl_col_module_snippet"
                              filterBy="#{devParam.snippetName}"
                              filterMatchMode="contains">
                        <p:commandLink update=":previewForm"
                                       actionListener="#{textManager.initFromDevice(devParam.deviceConfiguration, 
                                                         devParam.snippetName)}"
                                       oncomplete="PF('previewDlg').show();">
                            <h:outputText value="#{devParam.snippetName}"
                                          style="color: blue; text-decoration: underline;"/>
                        </p:commandLink>
                    </p:column>

                    <p:column headerText="Macro"
                              styleClass="tbl_col_macro_name"
                              filterBy="#{devParam.name}"
                              filterMatchMode="contains">
                        <h:outputText value="#{devParam.name}"/>
                    </p:column>

                    <p:column headerText="Type"
                              styleClass="tbl_col_macro_type"
                              filterBy="#{devParam.type}"
                              filterMatchMode="contains"
                              filterStyle="width: 90%;">
                        <h:outputText value="#{devParam.type}"/>
                    </p:column>

                    <p:column headerText="Description"
                              filterBy="#{devParam.desc}"
                              filterMatchMode="contains">
                        <h:panelGroup id="paramDesc" layout="span" styleClass="ellipsis">
                            <h:outputText value="#{devParam.desc}"/>
                        </h:panelGroup>
                        <p:tooltip for="paramDesc" value="#{devParam.desc}" position="top" trackMouse="true"/>
                    </p:column>

                    <p:column headerText="Value"
                              filterBy="#{devParam.value}"
                              filterMatchMode="contains"
                              rendered="#{not viewOnly and detailsManager.configEditable}">
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText value="#{devParam.value}"/>
                            </f:facet>
                            <f:facet name="input">
                                <p:inputText id="devParamInput"
                                             value="#{detailsManager.
                                                      getParameterValueAccessor(devParam).paramValue}"
                                             readonly="#{not detailsManager.configEditable or
                                                         devParam.consistencyStatus.error or
                                                         devParam.deviceConfiguration.consistencyStatus.error}"/>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>

                    <p:column headerText="Value"
                              filterBy="#{devParam.value}"
                              filterMatchMode="contains"
                              rendered="#{viewOnly or not detailsManager.configEditable}">
                        <h:outputText value="#{devParam.value}"/>
                    </p:column>

                    <p:column headerText="Expanded Value"
                              filterBy="#{expansionHelper.getSingleLineExpVal(devParam)}"
                              filterMatchMode="contains">
                        <h:panelGroup id="paramExp" layout="span" styleClass="ellipsis">
                            <h:outputText value="#{expansionHelper.getSingleLineExpVal(devParam)}"/>
                        </h:panelGroup>
                        <p:tooltip for="paramExp" position="top" trackMouse="true">
                            <h:outputText class="param_exp_value_tooltip" style="display: none;"
                                          value="#{devParam.paramPosition}"/>
                            <h:dataTable value="#{devParam.expandedValues}" var="expVal">
                                <h:column>
                                    <h:panelGroup layout="span" styleClass="ui-icon ui-icon-pencil"
                                                  rendered="#{not empty expVal.occurrence and not empty
                                                              expVal.occurrence.defValue.rawValue}">
                                        <h:outputText value="#{expVal.occurrence.defValue.rawValue}"/>
                                    </h:panelGroup>
                                </h:column>

                                <h:column>
                                    <h:outputText value="#{expVal.expandedValue}"/>
                                </h:column>
                            </h:dataTable>
                        </p:tooltip>
                    </p:column>

                    <p:column headerText="Consistency Status"
                              styleClass="tbl_col_cstatus"
                              filterBy="#{csHelper.getSingleLineDesc(devParam)}"
                              filterMatchMode="contains" >
                        <h:panelGroup id="paramCs" layout="span" styleClass="ellipsis">
                            <h:outputText value="#{csHelper.getSingleLineDesc(devParam)}" />
                        </h:panelGroup>
                        <p:tooltip for="paramCs" position="top" trackMouse="true">
                            <h:outputText styleClass="param_cs_tooltip" style="display: none;" value="#{devParam.paramPosition}"/>
                            <h:panelGroup styleClass="somestyle">
                                <h:outputText value="#{csHelper.getRenderedDesc(devParam)}" escape="false"/>
                            </h:panelGroup>
                        </p:tooltip>
                    </p:column>


                    <p:ajax event="rowSelect" partialSubmit="true" update="paramsForm:paramsBtns" />
                    <p:ajax event="rowUnselect" partialSubmit="true" update="paramsForm:paramsBtns" />

                    <p:ajax event="cellEdit"
                            listener="#{detailsManager.handleDeviceParamCellEdit}"
                            update="iocsForm:iocsTbl configsForm:configsTbl iocsForm:iocsBtns 
                            configsForm:configsBtns"
                            oncomplete="ParamsMacroUpdater.updateParamsTblContents(xhr, status, args);"/>
                </p:dataTable>

                <div style="height: 1em"/>

                <p:outputPanel id="paramsBtns" style="text-align: right;" rendered="#{not viewOnly}">
                    <p:commandButton value="Delete" icon="ui-icon-trash" actionListener="#{detailsManager.deleteParams}"
                                     update="configsForm:configs devicesForm:devices paramsForm:params"
                                     disabled="#{not detailsManager.canDeleteParameters()}"
                                     oncomplete="handleRemoveParameter(xhr, status, args);"/>
                </p:outputPanel>
            </p:fieldset>
        </p:outputPanel>
    </h:form>
</ui:composition>