<!--
* Copyright (c) 2015-2016 European Spallation Source
* Copyright (c) 2015-2016 Cosylab d.d.
*
* This file is part of IOC Factory.
*
* IOC Factory is free software: you can redistribute it
* and/or modify it under the terms of the GNU General Public License as
* published by the Free Software Foundation, either version 2 of the License,
* or any newer version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT
* ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
* FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
* details.
*
* You should have received a copy of the GNU General Public License along with
* this program. If not, see https://www.gnu.org/licenses/gpl-2.0.txt
-->
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:rc="http://java.sun.com/jsf/composite/comps"
                xmlns:h="http://java.sun.com/jsf/html">
    <h:form id="menuform">
        <p:menubar id="mainMenu">
            <p:menuitem value="Configure IOC"
                        styleClass="#{view.viewId eq '/configure.xhtml' ? 'menu-selected' : ''}"                        
                        action="#{menuManager.fireMenuEvent('/configure.xhtml')}"/>

            <p:menuitem value="Generate IOC" 
                        styleClass="#{view.viewId eq '/generate.xhtml' ? 'menu-selected' : ''}"
                        action="#{menuManager.fireMenuEvent('/generate.xhtml')}"/>
            
            <p:menuitem value="Audit IOC"
                        styleClass="#{view.viewId eq '/audit.xhtml' ? 'menu-selected' : ''}"
                        action="#{menuManager.fireMenuEvent('/audit.xhtml')}"/>

            <p:menuitem value="Browse IOC" 
                        styleClass="#{view.viewId eq '/browse.xhtml' ? 'menu-selected' : ''}"
                        action="#{menuManager.fireMenuEvent('/browse.xhtml')}"/>

            <p:menuitem value="Setup" 
                        styleClass="#{view.viewId eq '/setup.xhtml' ? 'menu-selected' : ''}"
                        action="#{menuManager.fireMenuEvent('/setup.xhtml')}"/>

            <p:menuitem value="Log"
                        styleClass="#{view.viewId eq '/log.xhtml' ? 'menu-selected' : ''}"
                        action="#{menuManager.fireMenuEvent('/log.xhtml')}"/>

            <p:menuitem value="Help" url="#" disabled="true"/>

            <f:facet name="options">
                <p:outputPanel id="globalRepoData" layout="inline" style="font-size: smaller; font-style: italic;"
                               rendered="#{loginManager.loggedIn}">

                    <h:outputLink id="repoSelectorLabel"
                                  value="setup.xhtml?showmessages=#{repositorySelector.selectedEee.name}">
                        <h:outputText value="#{repoStatsManager.getRepository(repositorySelector.selectedEee).
                                                hasError() ? '!!! EEE: ' : 'EEE: '}"
                                       style="#{repoStatsManager.getRepository(repositorySelector.selectedEee).
                                                hasError() ? 'color:red' : ''}"/>
                    </h:outputLink>

                    <p:selectOneMenu id="repoSelector" value="#{repositorySelector.selectedEee}"
                                     styleClass="eee-selection-menu">
                        <f:selectItems value="#{repositorySelector.eeeTypes}" var="type"
                                       itemValue="#{type}" itemLabel="#{type.name}"/>
                        <p:ajax event="change" update="menuform:repoSelectorLabel"
                                listener="#{repositorySelector.fireEvent}"/>
                    </p:selectOneMenu>

                    <p:commandButton title="Info" icon="ui-icon-help" ajax="true"
                                     update="menuform:eeeStatsDetails"
                                     styleClass="toolbar-button"
                                     oncomplete="PF('eeeStats').show('#{component.clientId}');"/>
                    <p:commandButton id="rescanRepoBtn"
                                     title="Refresh EEE" icon="ui-icon-arrowrefresh-1-w"
                                     styleClass="toolbar-button"
                                     action="#{repositoryProducer.refreshSessionRepository(repositorySelector.selectedEee)}"
                                     oncomplete="location.reload();"
                                     ajax="true"/>
                </p:outputPanel>
                <rc:logincomp ajax="false" />
            </f:facet>
        </p:menubar>

        <p:overlayPanel id="eeeStats" widgetVar="eeeStats" dismissable="true" >
            <p:outputPanel id="eeeStatsDetails" rendered="#{loginManager.loggedIn}">
                <h:outputText value="EEE hash: #{repoStatsManager.getRepoStats(repositorySelector.selectedEee).
                                                repoHash}"/>
                <br/>
                <h:outputText value="Last scanned: #{repoStatsManager.getRepository(repositorySelector.selectedEee).
                                                     lastScanTime}"/>
                <br/>
                <h:outputText value="Last scan user #{repoStatsManager.getRepository(repositorySelector.selectedEee).
                                                      lastScanUser}"/>
            </p:outputPanel>
            <p:hotkey bind="esc" oncomplete="PF('eeeStats').hide();"/>
        </p:overlayPanel>
    </h:form>
</ui:composition>
