<!--
 Copyright (c) 2015-2016 European Spallation Source
 Copyright (c) 2015-2016 Cosylab d.d.

 This file is part of IOC Factory.

 IOC Factory is free software: you can redistribute it
 and/or modify it under the terms of the GNU General Public License as
 published by the Free Software Foundation, either version 2 of the License,
 or any newer version.

 This program is distributed in the hope that it will be useful, but WITHOUT
 ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
 details.

 You should have received a copy of the GNU General Public License along with
 this program. If not, see https://www.gnu.org/licenses/gpl-2.0.txt
-->
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html">
    <h:form id="#{formId}">
        <p:overlayPanel widgetVar="#{widgetVar}" dismissable="true">
            <p:outputPanel id="#{widgetVar}">
                <h:outputText value="EEE hash: #{repoStatsManager.getRepoStats(eeeType).repoHash}"/>
                <br/>
                <h:outputText value="Last scanned: #{repoStatsManager.getRepository(eeeType).lastScanTime}"/>
                <br/>
                <h:outputText value="Last scan user #{repoStatsManager.getRepository(eeeType).lastScanUser}"/>
            </p:outputPanel>
            <p:hotkey bind="esc" oncomplete="PF('#{widgetVar}').hide();"/>
        </p:overlayPanel>
    </h:form>
</ui:composition>