<!--
 Copyright (c) 2015-2016 European Spallation Source
 Copyright (c) 2015-2016 Cosylab d.d.

 This file is part of IOC Factory.

 IOC Factory is free software: you can redistribute it
 and/or modify it under the terms of the GNU General Public License as
 published by the Free Software Foundation, either version 2 of the License,
 or any newer version.

 This program is distributed in the hope that it will be useful, but WITHOUT
 ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
 details.

 You should have received a copy of the GNU General Public License along with
 this program. If not, see https://www.gnu.org/licenses/gpl-2.0.txt
-->
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html">
    <h:form id="#{formId}">
        <p:dialog id="#{widgetVar}"
                  widgetVar="#{widgetVar}"
                  header="EEE Structure - #{eeeType}"
                  modal="true" width="70em" height="66vh" resizable="false"
                  closeOnEscape="true">
            <p:treeTable id="tree" value="#{repoStatsManager.getRepoStats(eeeType).repoTree}" var="treeNode"
                         scrollable="true"  selectionMode="single"
                         selection="#{repoStatsManager.getRepoStats(eeeType).selectedNode}"
                         rowStyleClass="treeRows" scrollHeight="98%">
                <p:column id="name">
                    <h:outputText value="#{treeNode}" />
                </p:column>
            </p:treeTable>

            <f:facet name="footer">
				<p:panel styleClass="dialogButtonPanel">
	                    <p:commandButton value="Expand" icon="ui-icon-plus" title="Expand Selected Items"
	                                     action="#{repoStatsManager.expandTreeNode(eeeType)}"
	                                     update="#{formId}:tree"/>
	                    <p:commandButton value="Collapse" icon="ui-icon-minus" title="Collapse Selected Items"
	                                     action="#{repoStatsManager.colapseTreeNode(eeeType)}"
	                                     update="#{formId}:tree"
	                                     style="margin-left: 0.5em;"/>
				</p:panel>
            </f:facet>
        </p:dialog>
    </h:form>
</ui:composition>