<!--
 Copyright (c) 2015-2016 European Spallation Source
 Copyright (c) 2015-2016 Cosylab d.d.

 This file is part of IOC Factory.

 IOC Factory is free software: you can redistribute it
 and/or modify it under the terms of the GNU General Public License as
 published by the Free Software Foundation, either version 2 of the License,
 or any newer version.

 This program is distributed in the hope that it will be useful, but WITHOUT
 ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
 details.

 You should have received a copy of the GNU General Public License along with
 this program. If not, see https://www.gnu.org/licenses/gpl-2.0.txt
-->
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html">
    <h:form id="#{formId}">
        <p:dialog id="#{widgetVar}"
                  widgetVar="#{widgetVar}"
                  header="EEE Scanning Messages - #{eeeType}"
                  modal="true" width="100em" height="66vh"
                  closeOnEscape="true">
            <p:dataTable value="#{repoStatsManager.getRepository(eeeType).messages}" var="repoMsg"
                         scrollable="true" scrollHeight="98%"
                         rowStyleClass="#{repoStatsManager.styleForMessage(repoMsg)}"
                         scrollRows="30" liveScroll="true">
                <p:column headerText="Severity" style="width:10em;" filterBy="#{repoMsg.level}"
                          filterOptions="#{repoStatsManager.consistencyMsgLevels}" filterMatchMode="exact">
                    <h:outputText value="#{repoMsg.level}"/>
                </p:column>
                <p:column headerText="Message" filterBy="#{repoMsg.desc}" filterMatchMode="contains">
                    <h:outputText value="#{repoMsg.desc}"/>
                </p:column>
                <p:column headerText="Path" filterBy="#{repoMsg.path}" filterMatchMode="contains">
                    <h:outputText value="#{repoMsg.path}"/>
                </p:column>
            </p:dataTable>
        </p:dialog>
    </h:form>
</ui:composition>