<!--
 Copyright (c) 2015-2016 European Spallation Source
 Copyright (c) 2015-2016 Cosylab d.d.

 This file is part of IOC Factory.

 IOC Factory is free software: you can redistribute it
 and/or modify it under the terms of the GNU General Public License as
 published by the Free Software Foundation, either version 2 of the License,
 or any newer version.

 This program is distributed in the hope that it will be useful, but WITHOUT
 ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
 details.

 You should have received a copy of the GNU General Public License along with
 this program. If not, see https://www.gnu.org/licenses/gpl-2.0.txt
-->
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html">
    <h:form id="dualCompareForm">
        <p:dialog id="dualCompareDlg"
                  widgetVar="dualCompareDlg"
                  resizable="false"
                  header="Compare Configurations"
                  closeOnEscape="true">
            <h:inputTextarea id="envA" style="display: none;" value="#{dualCompare.envs.get(0)}"/>
            <h:inputTextarea id="envB" style="display: none;" value="#{dualCompare.envs.get(1)}"/>

            <h:inputTextarea id="confA" style="display: none;" value="#{dualCompare.sts.get(0)}"/>
            <h:inputTextarea id="confB" style="display: none;" value="#{dualCompare.sts.get(1)}"/>

            <p:panelGrid columns="2" layout="grid">
                <p:fieldset legend="#{dualCompare.titles.get(0)}">
                    <p:outputLabel value="env.sh:" style="font-weight: bold;"/><br/>
                    <p:panel>
                        <h:panelGroup layout="block" style="width: 30vw; height: 7em;">
                            <h:panelGroup id="envAOut" layout="block"
                                          style="overflow:auto; height: 100%; font-family: monospace;
                                          white-space: pre-wrap;"/>
                        </h:panelGroup>
                    </p:panel>
                    <p:outputLabel value="st.cmd:" style="font-weight: bold;"/><br/>
                    <p:panel>
                        <h:panelGroup layout="block" style="width: 30vw; height: 65vh;">
                            <h:panelGroup id="confAOut" layout="block"
                                          style="overflow:auto; height: 100%; font-family: monospace;
                                          white-space: pre-wrap;"/>
                        </h:panelGroup>
                    </p:panel>
                </p:fieldset>

                <p:fieldset legend="#{dualCompare.titles.get(1)}">
                    <p:outputLabel value="env.sh:" style="font-weight: bold;"/><br/>
                    <p:panel>
                        <h:panelGroup layout="block" style="width: 30vw; height: 7em;">
                            <h:panelGroup id="envBOut" layout="block"
                                          style="overflow:auto; height: 100%; font-family: monospace;
                                          white-space: pre-wrap;"/>
                        </h:panelGroup>
                    </p:panel>
                    <p:outputLabel value="st.cmd:" style="font-weight: bold;"/><br/>
                    <p:panel>
                        <h:panelGroup layout="block" style="width: 30vw; height: 64vh;">
                            <h:panelGroup id="confBOut" layout="block"
                                          style="overflow:auto; height: 100%; font-family: monospace;
                                          white-space: pre-wrap;"/>
                        </h:panelGroup>
                    </p:panel>
                </p:fieldset>
            </p:panelGrid>
        </p:dialog>
    </h:form>

    <h:outputScript library="js" name="diff_match_patch.js" />
    <h:outputScript library="js" name="compare.js" />
</ui:composition>