<?xml version="1.0" encoding="UTF-8"?>
<!--
 * Copyright (c) 2015-2016 European Spallation Source
 * Copyright (c) 2015-2016 Cosylab d.d.
 *
 * This file is part of IOC Factory.
 *
 * IOC Factory is free software: you can redistribute it
 * and/or modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation, either version 2 of the License,
 * or any newer version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
 * details.
 *
 * You should have received a copy of the GNU General Public License along with
 * this program. If not, see https://www.gnu.org/licenses/gpl-2.0.txt
-->
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:o="http://omnifaces.org/ui"
                template="/template/template.xhtml">

    <ui:define name="content">
        <!--
            Main Configure screen structure
        -->
        <ui:include src="configure/iocs.xhtml"/>
        <ui:include src="configure/configs.xhtml"/>

        <ui:include src="configure/globals.xhtml"><ui:param name="viewOnly" value="false"/></ui:include>
        <ui:include src="configure/devices.xhtml"><ui:param name="viewOnly" value="false"/></ui:include>
        <ui:include src="configure/params.xhtml"><ui:param name="viewOnly" value="false"/></ui:include>

        <!--
            ADD NEW CONFIGURATION DIALOG
        -->
        <ui:include src="./dialogs/configure/configparams.xhtml">
            <ui:param name="dialogTitle" value="Add New Configuration"/>
            <ui:param name="formId" value="addConfigForm"/>
            <ui:param name="widgetVar" value="addConfigDlg"/>
            <ui:param name="createVisible" value="true"/>
            <ui:param name="saveVisible" value="false"/>
        </ui:include>

        <!--
            EDIT CONFIGURATION DIALOG
        -->
        <ui:include src="./dialogs/configure/configparams.xhtml">
            <ui:param name="dialogTitle" value="Edit Configuration Parameters"/>
            <ui:param name="formId" value="editConfigForm"/>
            <ui:param name="widgetVar" value="editConfigDlg"/>
            <ui:param name="createVisible" value="false"/>
            <ui:param name="saveVisible" value="true"/>
        </ui:include>

        <!--
             EDIT DEVICE DIALOG
        -->
        <ui:include src="./dialogs/configure/editdevice.xhtml"/>

        <!--
            DELETE CONFIG CONFIRM DIALOG
        -->
        <ui:include src="./dialogs/configure/deleteconfirmation.xhtml"/>

        <!--
           DELETE IOC CONFIRM DIALOG
        -->
        <ui:include src="./dialogs/configure/delioc.xhtml"/>

        <!--
           ADD GLOBAL MACRO DIALOG
        -->
        <ui:include src="./dialogs/configure/global.xhtml">
            <ui:param name="dialogTitle" value="Add Environment Macro"/>
            <ui:param name="formId" value="addGlobalForm"/>
            <ui:param name="widgetVar" value="addGlobalDlg"/>
            <ui:param name="addVisible" value="true"/>
            <ui:param name="editVisible" value="false"/>
        </ui:include>

        <!--
           EDIT GLOBAL MACRO DIALOG
        -->
        <ui:include src="./dialogs/configure/global.xhtml">
            <ui:param name="dialogTitle" value="Edit Environment Macro"/>
            <ui:param name="formId" value="editGlobalForm"/>
            <ui:param name="widgetVar" value="editGlobalDlg"/>
            <ui:param name="addVisible" value="false"/>
            <ui:param name="editVisible" value="true"/>
        </ui:include>

        <!--
           RENAME BROKEN DEVICE DIALOG
        -->
        <ui:include src="./dialogs/configure/renamedev.xhtml"/>

        <!--
           CONFIG SWITCH CONFIRM DIALOG
        -->
        <ui:include src="./dialogs/configure/switchconfirmation.xhtml"/>

        <!--
           EEE SWITCH CONFIRM DIALOG
        -->
        <ui:include src="./dialogs/configure/eeeswitchconfirmation.xhtml"/>

        <!--
           MENU SWITCH CONFIRM DIALOG
        -->
        <ui:include src="./dialogs/configure/menuswitchconfirmation.xhtml"/>

        
        <ui:include src="./dialogs/linkdialog.xhtml" />
        <ui:include src="./dialogs/comparedialog.xhtml" />

        <ui:include src="./dialogs/previewdialog.xhtml" >
            <ui:param name="formId" value="previewForm" />
            <ui:param name="widgetVar" value="previewDlg" />
            <ui:param name="dialogTitle" value="#{textManager.header}" />
            <ui:param name="text" value="#{textManager.text}" />
        </ui:include>

        <h:outputScript library="js" name="configure.js" />

        <h:outputStylesheet name="/css/configure.css"/>
        <h:outputStylesheet name="/css/custom.css"/>

    </ui:define>
</ui:composition>