<?xml version="1.0" encoding="UTF-8"?>
<!--
 * Copyright (c) 2015-2016 European Spallation Source
 * Copyright (c) 2015-2016 Cosylab d.d.
 *
 * This file is part of IOC Factory.
 *
 * IOC Factory is free software: you can redistribute it
 * and/or modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation, either version 2 of the License,
 * or any newer version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
 * details.
 *
 * You should have received a copy of the GNU General Public License along with
 * this program. If not, see https://www.gnu.org/licenses/gpl-2.0.txt
-->
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" xmlns:pe="http://primefaces.org/ui/extensions"
    xmlns:o="http://omnifaces.org/ui" template="/template/template.xhtml">
    <ui:define name="content">
        <h:form id="entriesForm">
            <p:fieldset legend="Log" style="height: calc(100vh - 9em);">          
                <p:dataTable id="entriesTbl" widgetVar="entriesTbl" var="entry" value="#{logManager.lazyEntries}" 
                             scrollable="true" paginator="false" liveScroll="true" scrollRows="50" lazy="true" 
                             sortBy="#{entry.timestamp}"
                             sortOrder="descending"
                             scrollHeight="100%" rowKey="entry.id">
                    <p:ajax event="filter" onstart="resetTableAllLoadedState();" />
                    <p:ajax event="sort" onstart="resetTableAllLoadedState();" />
                    <p:column headerText="Timestamp" styleClass="tbl_col_timestamp" filterBy="#{entry.timestamp}"
                              sortBy="#{entry.timestamp}">
                        <h:outputText value="#{entry.timestamp}" style="white-space: nowrap; overflow: hidden;">>
                            <f:convertDateTime pattern="yyyy.MM.dd HH:mm:ss" />
                        </h:outputText>
                        <!--    value="#{timestampFormatter.format(entry.timestamp)}" /> -->
                    </p:column>
                    <p:column headerText="User" styleClass="tbl_col_user" filterBy="#{entry.user}" filterMatchMode="contains"
                              sortBy="#{entry.user}">
                        <h:outputText value="#{entry.user}" />
                    </p:column>
                    <p:column headerText="Type" styleClass="tbl_col_log_type" filterBy="#{lentry.type}" sortBy="#{entry.type}">
                        <f:facet name="filter">
                            <p:selectOneMenu onchange="PF('entriesTbl').filter()" id="logEntryTypes" styleClass="tbl_col_log_type_ddl" >
                                <f:selectItem></f:selectItem>
                                <f:selectItems value="#{logManager.logEntryTypesList}" />
                            </p:selectOneMenu>
                        </f:facet>
                        <h:outputText value="#{logTypeFormatter.format(entry.type)}" />
                    </p:column>
                    <p:column headerText="Description" filterBy="#{entry.details}" filterMatchMode="contains">
                        <h:panelGroup id="iocCs" styleClass="ellipsis" layout="span">
                            <p:commandLink id="opLink" oncomplete="showOverlayData('#{component.clientId}');">
                                <h:outputText value="#{entry.details}" />
                            </p:commandLink>
                            <p:overlayPanel id="op" widgetVar="op" dismissable="false" showCloseIcon="true">
                                <p:outputPanel id="overlayDetails">
                                    <p:panel rendered="#{not empty logManager.getFormatedEntry(entry.details)}" style="overflow: auto;">
                                        <h:outputText value="#{logManager.getFormatedEntry(entry.details)}" escape="false"
                                                      style="font-family: monospace; white-space:pre;" />
                                    </p:panel>
                                </p:outputPanel>
                                <p:hotkey bind="esc" oncomplete="PF('overlayPanel').hide();" />
                            </p:overlayPanel>
                        </h:panelGroup>
                    </p:column>
                </p:dataTable>
                <div style="height: 1em" />
            </p:fieldset>
        </h:form>
        <h:outputStylesheet name="/css/custom.css" />
        <h:outputStylesheet name="/css/log.css" />
    </ui:define>
</ui:composition>