<!--
* Copyright (c) 2015-2016 European Spallation Source
* Copyright (c) 2015-2016 Cosylab d.d.
*
* This file is part of IOC Factory.
*
* IOC Factory is free software: you can redistribute it
* and/or modify it under the terms of the GNU General Public License as
* published by the Free Software Foundation, either version 2 of the License,
* or any newer version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT
* ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
* FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
* details.
*
* You should have received a copy of the GNU General Public License along with
* this program. If not, see https://www.gnu.org/licenses/gpl-2.0.txt
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute name="update" required="false" default="@all"/>
        <cc:attribute name="ajax" required="false" default="true"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <!-- ToDo: Still not good. needs lots of improvements. too flaky  -->
    <cc:implementation>
        <h:form id="_loginForm" rendered="#{loginManager.loggedIn}">
            <ui:remove> -------------------- Logout -------------------</ui:remove>
            <p:commandButton id="_loginOutButton" type="button"
                             value="#{loginManager.username}"
                             styleClass="login-button"
                             icon="ui-icon-person" rendered="#{loginManager.loggedIn}" />
            <p:overlayPanel id="_loginExitPanel" for="_loginOutButton"
                            widgetVar="_loginExitWidget" style="border: 0px;" rendered="#{loginManager.loggedIn}" >
                <p:panelGrid styleClass="noBorders">
                    <p:row>
                        <p:column>
                            <h:outputText value="You are logged in as #{loginManager.username}" />
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:panelGrid styleClass="noBorders">
                                <p:row>
                                    <p:column>
                                        <p:commandButton value="Cancel"
                                                         type="button" onclick="PF('_loginExitWidget').hide()"/>
                                    </p:column>
                                    <p:column>
                                        <p:commandButton value="Logout"
                                                         action="#{loginManager.onLogout()}" ajax="false"/>
                                    </p:column>
                                </p:row>
                            </p:panelGrid>
                        </p:column>
                    </p:row>
                </p:panelGrid>
            </p:overlayPanel>
        </h:form>
    </cc:implementation>
</html>